﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="nav" class="navbar navbar-inverse navbar-fixed-top" style="background-color:#121e79; color: white">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a style="color:white" href="@Url.Action("Index", "Home")"><b>Home</b></a></li>
                        <li><a style="color:white" href="@Url.Action("About", "Home")"><b>About</b></a></li>
                        <li><a style="color:white" href="@Url.Action("Contact", "Home")"><b>Contact</b></a></li>
                        <li class="dropdown notifications-menu" style="float:left">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
                                <span class="logo-lg-action"> <strong>Menu 1</strong></span>
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">List 1</a></li>
                                <li><a class="dropdown-item" href="#">List 2</a></li>
                            </ul>
                        </li>
                        <li><a style="color:white" href="@Url.Action("Index", "Religion")"><b>Religion</b></a></li>
                        <li><a style="color:white" href="@Url.Action("Index", "Permission")"><b>Permission</b></a></li>
                        <li><a style="color:white" href="@Url.Action("Index", "ResourceProject")">
                            <b>Resource Project</b></a></li>
                    </ul>
                    <ul class="nav navbar-nav text-right" style="float:right; margin-right: 50px">
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" style="color:#ffffff" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-bell"></i>
                                <span class="logo-lg"><b>Hi, Inas</b></span>
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Ubah Kata Sandi</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="container body-content" style="background:lightgrey">
        @RenderBody()
        <hr />
    </div>
    <footer class="col-md-offset-1">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<!--
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { at class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- Judul, namaview, namafolder
                <li>Html.ActionLink("Home", "Index", "Home")</li>
                <li>Html.ActionLink("About", "About", "Home")</li>
                <li>Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>Html.ActionLink("Religion", "Index", "Religion")</li>
                <li>Html.ActionLink("Permission", "Index", "Permission")</li>
                <li>Html.ActionLink("Resource Project", "Index", "ResourceProject")</li>
            </ul>
        </div>
    </div>
</div> -->
