﻿
@{
    ViewBag.Title = "Detil Pelamar";
}

<div class="body body-content">
    <nav class="panel-heading navbar navbar-light bg-light" style="">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Cari Pelamar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="details_pelamar">Search</button>
        </form>
        <h2 class="panel-title" style="font: bold 20px; color: #000066;">
            LIST PELAMAR:
        </h2>
        <hr />
        <div class="body-pelamar">

        </div>
    </nav>
</div>


<div id="modal-form-list-menu" class="modal" role="dialog">
    <div class="modal-dialog" style="position:relative; width:1200px">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#000066">
                <button class="close" data-dismiss="modal"></button>
                <h4 class="modal-title" style="color:white">
                </h4>
            </div>
            <div class="row">
                <div class="col-md-2" style="padding-left:20px; padding-top: 20px">
                    <div class="list-group table-bordered" style="border:2px solid #000066">
                        <a class="list-group-item details_list_item" onclick="OnListItemDetails('Profile');" id="item_Profile">Profile</a>
                        <a class="list-group-item details_list_item" onclick="OnListItemDetails('Biodata');" id="item_Biodata">Biodata</a>
                        <a class="list-group-item details_list_item" onclick="OnListItemDetails('Pendidikan');" id="item_Pendidikan">Pendidikan</a>
                        <a class="list-group-item details_list_item" onclick="OnListItemDetails('Pelatihan');" id="item_Pelatihan">Pelatihan</a>
                        <a class="list-group-item details_list_item" onclick="OnListItemDetails('Keahlian');" id="item_Keahlian">Keahlian</a>
                    </div>
                </div>
                <div class="col-lg-10" style="margin-left: -25px">
                    <div class="modal-bind-content-list-menu" id="details_pelamar_id" style="padding: 15px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div style="background-color: transparent">
    <aside class="main-sidebar" style="color:#000066">
        <section class="sidebar col-sm-3" style="color:#ffffff; padding:0px 15px 0px 15px">
            <br /> <!--table-bordered
            <div class="list-group list-group-flush" style="border:2px solid #000066">
                <a href="Url.Action("Index", "Home")" class="list-group-item list-group-item-action bg-light" style="border-bottom:3px solid #000066; color:darkblue"><i class="glyphicon glyphicon-adjust"></i><b> &nbsp; Beranda</b></a>
                <a href="Url.Action("Index", "Pelamar")" class="list-group-item list-group-item-action bg-light" style="border-bottom:3px solid #000066; color:darkblue"><i class="glyphicon glyphicon-adjust"></i><b> &nbsp; Pelamar</b></a>
                <a href="#" class="list-group-item list-group-item-action bg-act" style="border-bottom:3px solid #000066; color:darkblue"><i class="glyphicon glyphicon-adjust"></i><b> &nbsp; Proses Pelamar</b></a>
                <ul class="list-group-item list-group-item-action bg-light">
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="logo-lg"><b>Penjadwalan</b></span>
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="list-group-item list-group-item-action" href="#">Rencana</a></li>
                            <li><a class="list-group-item list-group-item-action" href="Url.Action("Index", "Undangan")">Undangan</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-group-item list-group-item-action bg-light">
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="logo-lg"><b>Penjadwalan Ulang</b></span>
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="list-group-item list-group-item-action" href="Url.Action("Index", "RescheduleUndangan")">Undangan</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="list-group-item list-group-item-action bg-light" style="border-bottom:3px solid #000066; color:darkblue"><i class="glyphicon glyphicon-adjust"></i><b> &nbsp; Tes</b></a>
                <a href="#" class="list-group-item list-group-item-action bg-light" style="border-bottom:3px solid #000066; color:darkblue"><i class="glyphicon glyphicon-adjust"></i><b> &nbsp; Bootcamp</b></a>
                <a href="#" class="list-group-item list-group-item-action bg-light" style="border-bottom:3px solid #000066; color:darkblue"><i class="glyphicon glyphicon-adjust"></i><b> &nbsp; Laporan</b></a>
                <ul class="list-group-item list-group-item-action bg-light">
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="logo-lg"><b>Time Report</b></span>
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="list-group-item list-group-item-action" href="#">Timesheet</a></li>
                            <li><a class="list-group-item list-group-item-action" href="#" id="btn-tsa">Timesheet Approval</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
    </aside>
</div>

<div class="panel-heading">
    <div class="sidenav" style="width: 180px; position: fixed; z-index: 1; top: 50px; left: 10px; background: white; overflow-x: hidden; padding: 6px 8px 6px 16px; text-decoration: none;; font-size: 13px; color: darkblue">
        <a href="#" onclick="GetProfile()">Profil</a> <br />
        <a href="#" onclick="GetReligion()">Agama</a> <br />
        <a href="#" onclick="GetBio()">Biodata</a> <br />
        <a href="#" onclick="GetExp()">Pengalaman Kerja</a> <br />
        <a href="#" onclick="GetEdu()">Pendidikan</a> <br />
        <a href="#" onclick="GetTraining()">Pelatihan</a> <br />
        <a href="#" onclick="GetCertif()">Sertifikasi</a> <br />
        <a href="#" onclick="GetVacancy()">Sumber Lowongan Kerja</a> <br />
        <a href="#" onclick="GetOrganization()">Organisasi</a> <br />
        <a href="#" onclick="GetFam()">Keluarga</a> <br />
        <a href="#" onclick="GetSkill()">Keahlian</a> <br />
        <a href="#" onclick="GetEtc()">Lain-lain</a> <br />
        <a href="#" onclick="GetDocum()">Dokumen</a> <br />
        <a href="#" onclick="GetNotes()">Catatan</a> <br />
        <a href="#" onclick="GetActiv()">Aktivasi Akun</a> <br />
        <a href="#" onclick="GetTest()">Lihat Tes</a> <br />
        <a href="#" onclick="GetResult()">Hasil Tes</a> <br />
    </div>
</div>
<div class="panel-body"
     style="margin-left: 190px; /* Same width as the sidebar + left position in px */
            font-size: 13px; /* Increased text to enable scrolling */
            padding: 0px 10px;">
    ...
</div>



}-->
