﻿@model WFHDataModel.x_religion

@using (Html.BeginForm("Create", "Religion", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-8 col-md-offset-1" style="font-weight: bold">Nama Agama *</label>
            <br />
            <div class="col-md-offset-1 col-md-11">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", style = "max-width: 350px" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-8 col-md-offset-1" style="font-weight: bold">Deskripsi</label>
            <br />
            <div class="col-md-offset-1 col-md-11">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", style = "max-width: 350px; height: 100px" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <div class="form-actions btn-group btn-group-md">
                    <input type="button" value="Batal" data-dismiss="modal" class="btn btn-warning" style="width: 101px" />
                    <input type="submit" value="Simpan" class="btn btn-primary" style="width: 101px" />
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    var ent = result.entity;
                    alert(`Berhasil disimpan\nNama Agama : ${ent.name}`);
                    $("#modal1").modal("hide");
                    GetList()
                }
            }
        })
        return false;
    })
</script>

