﻿@model IEnumerable<WFHDataModel.x_religion>

Page : @ViewBag.currPage of @ViewBag.PageCount
<table class="table">
    <tr>
        <th style="width:30%">NAMA</th>
        <th style="width:50%">DESKRIPSI</th>
        <th style="width:20%">#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <div class="input-group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            More
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-id="@item.id" onclick="GetById(@item.id)">Ubah</a></li>
                            <li><a href="#" data-id="@item.id" onclick="DeleteById(@item.id)">Hapus</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(document).ready(function () {
        maxPage = @ViewBag.PageCount;
        if (currPage == maxPage) {
            $('#btn-next').addClass('disabled');
        } else {
            $('#btn-next').removeClass('disabled');
        };
    })
</script>