﻿@model IEnumerable<WFHViewModel.PermissionView>

    <div class="row">
        <p class="col-sm-10">
            <b style="font-size: 20px">Approval List</b> <br />
            Page : @ViewBag.currPageApp @ViewBag.PageOf of @ViewBag.PageCountApp @ViewBag.PageOf
        </p>
        <div class="col-sm-1">
            <div class="input-group">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Order</li>
                        <li><a href="#" onclick="sortingApp(this)" data-asc="true">Ascending</a></li>
                        <li><a href="#" onclick="sortingApp(this)" data-asc="false">Descending</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="input-group">
                <div class="dropdown">
                    <button type="button" class="btn btn-md dropdown-toggle btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Row Per Page</li>
                        <li><a href="#" onclick="rowPageApp(this)" data-row="1">10</a></li>
                        <li><a href="#" onclick="rowPageApp(this)" data-row="2">20</a></li>
                        <li><a href="#" onclick="rowPageApp(this)" data-row="3">30</a></li>
                        <li><a href="#" onclick="rowPageApp(this)" data-row="4">40</a></li>
                        <li><a href="#" onclick="rowPageApp(this)" data-row="5">50</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<table class="table">
    <tr>
        <th style="width:20%">NAMA</th>
        <th style="width:20%">TANGGAL</th>
        <th style="width:30%">JENIS IZIN</th>
        <th style="width:20%">STATUS</th>
        <th style="width:10%">#</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.newdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.absent)
                @Html.DisplayFor(modelItem => item.sick)
                @Html.DisplayFor(modelItem => item.cominglate)
                @Html.DisplayFor(modelItem => item.earlyleave)
                @Html.DisplayFor(modelItem => item.other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <div class="input-group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            More
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-id="@item.id" onclick="DetailById(@item.id)">Detail</a></li>
                            <li><a href="#" onclick="ApproveById(@item.id)" data-id="@item.id">Disetujui</a></li>
                            <li><a href="#" onclick="RejectById(@item.id)" data-id="@item.id">Ditolak</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="col-md-offset-10">
        <button type="button" class="btn btn-primary" id="prevApp" onclick="prevApp()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous
        </button>
        <button type="button" class="btn btn-primary" id="nextApp" onclick="nextApp()">
            Next
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        maxPageApp = @ViewBag.PageCountApp;
        if (currPageApp == maxPageApp) {
            $('#nextApp').addClass('disabled');
        } else {
            $('#nextApp').removeClass('disabled');
        };
    })

</script>