﻿@model WFHViewModel.PermissionView

<div>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <span class="glyphicon glyphicon-question-sign" style="font-size: 80px; color: darkblue"></span>
            </div>
            <div class="col-md-8 col-md-offset-1" style="font-size: 15px">
                Anda yakin ingin menyetujui request ?<br />
                Nama Karyawan : <b>@Html.DisplayFor(model => model.employee_name)</b> <br />
                Tanggal - Pukul : <b>@Html.DisplayFor(model => model.newdatetime)</b> <br />
                Jenis Izin : <b>    @Html.DisplayFor(model => model.absent)
                                    @Html.DisplayFor(model => model.sick)
                                    @Html.DisplayFor(model => model.cominglate)
                                    @Html.DisplayFor(model => model.earlyleave)
                                    @Html.DisplayFor(model => model.other)
                             </b>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Approve", "Permission", FormMethod.Post, new { id = "form-approve", name = "form-approve" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="text-right">
            <br />
            <div class="form-actions btn-group btn-group-md">
                <input type="button" value="Tidak" data-dismiss="modal" class="btn btn-danger" style="width: 100px" />
                <input type="submit" value="Ya" class="btn" style="width: 100px; background: darkblue; color: white" />
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $("#form-approve").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert('Berhasil disetujui');
                    $("#modal3").modal("hide");
                    Approval()
                } else {
                    alert('Error: ' + result.message);
                }
            }
        })
        return false;
    })
</script>

