﻿@model WFHViewModel.PermissionView

@using (Html.BeginForm("Create", "Permission", FormMethod.Post, new { id = "form-create", name = "form-create" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Nama *</label> <br />
                    <div class="col-md-12 col-md-offset-1">
                        @Html.EditorFor(model => model.employee_name, new { htmlAttributes = new { @class = "form-control", style = "max-width: 320px" } })
                        @Html.ValidationMessageFor(model => model.employee_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Departemen / Divisi</label> <br />
                    <div class="col-md-12 col-md-offset-1">
                        @Html.EditorFor(model => model.department, new { htmlAttributes = new { @class = "form-control", style = "max-width: 320px" } })
                        @Html.ValidationMessageFor(model => model.department, "", new { @class = "text-danger" })
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Jabatan</label> <br />
                    <div class="col-md-12 col-md-offset-1">
                        @Html.EditorFor(model => model.position, new { htmlAttributes = new { @class = "form-control", style = "max-width: 320px" } })
                        @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-5 col-md-offset-2" style="font-weight: bold">Tanggal *</label>
                            </div>
                                <div class="col-md-5 col-md-offset-2 input-group date">
                                    @Html.EditorFor(model => model.tanggal, new { htmlAttributes = new { @class = "form-control", style = "left: 4px; width:190px; border-right: none", placeholder = "", onfocus = "(this.type='date')", onblur = "(this.type='text')" } })
                                    <span class="input-group-addon btn" style="border-left:none; background: white">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>      
                                <div class="col-md-offset-2" style = "margin-left: 52px">
                                    @Html.ValidationMessageFor(model => model.tanggal, "", new { @class = "text-danger" })
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                                <label class="col-md-offset-1" style="font-weight: bold">Pukul</label> <br />
                                <div class="col-md-offset-1">
                                    @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control", style = "width:70px", placeholder = "00:00" } })
                                    @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
                                </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Keterangan *</label> <br />
                    <div class="col-md-12 col-md-offset-1">
                        @Html.TextAreaFor(model => model.notes, new { @class = "form-control", style = "max-width: 320px; height: 100px" })
                            @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.is_absent)
                        @Html.ValidationMessageFor(model => model.is_absent, "", new { @class = "text-danger" })
                        <label style="font-weight: bold">Tidak Masuk *</label>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.is_sick)
                        @Html.ValidationMessageFor(model => model.is_sick, "", new { @class = "text-danger" })
                        <label style="font-weight: bold">Sakit</label>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.is_coming_late)
                        @Html.ValidationMessageFor(model => model.is_coming_late, "", new { @class = "text-danger" })
                        <label style="font-weight: bold">Datang Terlambat</label>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.is_early_leave)
                        @Html.ValidationMessageFor(model => model.is_early_leave, "", new { @class = "text-danger" })
                        <label style="font-weight: bold">Pulang Awal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.others)
                        @Html.ValidationMessageFor(model => model.others, "", new { @class = "text-danger" })
                        <label style="font-weight: bold">Lainnya </label>
                    </div>
                </div>
                <br />
                <div class="row" style="font-size: 11px">
                    <div class="row">
                        <b> Notes : <br />
                        <i>*Bersifat mendadak/di luar perencanaan</i> <br />
                        <i>*Memotong jatah cuti tahunan</i> </b>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1">
                <div class="btn-group btn-group-md">
                    <input type="reset" value="Reset" data-dismiss="modal" class="btn btn-warning" style="width: 100px" />
                    <input type="submit" value="Submit" class="btn btn-primary" style="width: 100px" />
                </div>
            </div>
        </div>
    </div>
 }

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript"> 

    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    var ent = result.entity;
                    alert(`Berhasil disimpan\nNama Karyawan : ${ent.employee_name}`);
                    $("#modal1").modal("hide");
                    History();
                } else {
                    alert(`Mohon isi Permission Form sesuai format`);
                }
            }
        })
        return false;
    })
</script>
