﻿@model WFHViewModel.PermissionView
@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.id)

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <p class="col-md-offset-1 col-md-8">Nama</p>
                <div class="col-md-8 col-md-offset-1" style="font-weight: bold">
                    @Html.DisplayFor(model => model.employee_name)
                </div>
            </div> <br />
            <div class="row">
                <p class="col-md-offset-1 col-md-8">Departemen / Divisi</p>
                <div class="col-md-8 col-md-offset-1" style="font-weight: bold">
                    @Html.DisplayFor(model => model.department)
                </div>
            </div> <br />
            <div class="row">
                <p class="col-md-offset-1 col-md-8">Jabatan</p>
                <div class="col-md-8 col-md-offset-1" style="font-weight: bold">
                    @Html.DisplayFor(model => model.position)
                </div>
            </div> <br />
            <div class="row">
                <p class="col-md-offset-1 col-md-8">Tanggal - Pukul</p>
                <div class="col-md-8 col-md-offset-1" style="font-weight: bold">
                    @Html.DisplayFor(model => model.newdatetime)
                </div>
            </div> <br />
            <div class="row">
                <p class="col-md-offset-1 col-md-8">Keterangan</p>
                <div class="col-md-8 col-md-offset-1" style="font-weight: bold">
                    @Html.DisplayFor(model => model.notes)
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="checkbox">
                    <label style="font-weight: bold">
                        @Html.DisplayFor(model => model.is_absent) &ensp;
                        Tidak Masuk *
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label style="font-weight: bold">
                        @Html.DisplayFor(model => model.is_sick) &ensp;
                        Sakit
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label style="font-weight: bold">
                        @Html.DisplayFor(model => model.is_coming_late) &ensp;
                        Datang Terlambat
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label style="font-weight: bold">
                        @Html.DisplayFor(model => model.is_early_leave) &ensp;
                        Pulang Awal
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label style="font-weight: bold">
                        @Html.DisplayFor(model => model.others) &ensp;
                        Lainnya
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-offset-9">
        <input type="button" value="Close" data-dismiss="modal" class="btn btn-warning" style="width: 115px" />
    </div>
</div>