﻿@model IEnumerable<WFHViewModel.PermissionView>

<div class="row">
    <p class="col-sm-10">
        <b style="font-size: 20px">History List</b> <br />
        Page : @ViewBag.currPageHis @ViewBag.PageOf of @ViewBag.PageCountHis @ViewBag.PageOf
    </p>
    <div class="col-sm-1">
        <div class="input-group">
            <div class="dropdown">
                <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true">
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Order</li>
                    <li><a href="#" onclick="sortingHis(this)" data-asc="true">Ascending</a></li>
                    <li><a href="#" onclick="sortingHis(this)" data-asc="false">Descending</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="input-group">
            <div class="dropdown">
                <button type="button" class="btn btn-md dropdown-toggle btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Row Per Page</li>
                    <li><a href="#" onclick="rowPageHis(this)" data-row="1">10</a></li>
                    <li><a href="#" onclick="rowPageHis(this)" data-row="2">20</a></li>
                    <li><a href="#" onclick="rowPageHis(this)" data-row="3">30</a></li>
                    <li><a href="#" onclick="rowPageHis(this)" data-row="4">40</a></li>
                    <li><a href="#" onclick="rowPageHis(this)" data-row="5">50</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th style="width:25%">TANGGAL</th>
        <th style="width:35%">JENIS IZIN</th>
        <th style="width:25%">STATUS</th>
        <th style="width:15%">#</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.newdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.absent)
                @Html.DisplayFor(modelItem => item.sick)
                @Html.DisplayFor(modelItem => item.cominglate)
                @Html.DisplayFor(modelItem => item.earlyleave)
                @Html.DisplayFor(modelItem => item.other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-detail" data-id="@item.id" title="Detail" onclick="DetailById(@item.id)">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="col-md-offset-10">
        <button type="button" class="btn btn-primary" id="prevHis" onclick="prevHis()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous
        </button>
        <button type="button" class="btn btn-primary" id="nextHis" onclick="nextHis()">
            Next
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        maxPageHis = @ViewBag.PageCountHis;
        if (currPageHis == maxPageHis) {
            $('#nextHis').addClass('disabled');
        } else {
            $('#nextHis').removeClass('disabled');
        };
    })

</script>