﻿@{
    ViewBag.Title = "Permission";
}

<h3>@ViewBag.Title</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group date">
                    <input type="text" id="frdate" class="form-control" style="width:150px; border-right: none" placeholder="From" onfocus= "(this.type='date')" onblur= "(this.type='text')">
                    <span class="input-group-addon btn" style="border-left:none; background: white">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group date">
                    <input type="text" id="todate" class="form-control" style="width:150px; border-right: none" placeholder="To" onfocus= "(this.type='date')" onblur= "(this.type='text')">
                    <span class="input-group-addon btn" style="border-left:none; background: white">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <button type="button" class="btn btn-md btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="searchHis()">Search History List</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onclick="searchApp()">Search Approval List</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" style="width: 100px" onclick="History()" id="history">
                    History
                </button>
                <button type="button" class="btn btn-primary" style="width: 100px" onclick="Approval()" id="approval">
                    Approval
                </button>
            </div>
            <div class="col-sm-1">
                <button type="button" id="btn-create" class="btn btn-md btn-primary btn-circle">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <b style="font-size: 20px">Permission List</b> <br />
         Pilih submenu untuk menampilkan halaman.
    </div>
</div>

<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 650px">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white">Permission Form</h3>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 550px">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white">Detail</h3>
            </div>
            <div class="modal-body" id="body-detail">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal3" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white">Approval</h3>
            </div>
            <div class="modal-body" id="body-status">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        var currPageHis = 1;
        var currPageApp = 1;
        var maxPageHis = 1;
        var maxPageApp = 1;
        var sortAscHis = true;
        var sortAscApp = true;
        var perPageHis = 10;
        var perPageApp = 10;
        var datefrom;
        var dateto;

        $(document).ready(function () {
        })

        function History() {
            $.ajax({
                url: '@Url.Action("HistoryList", "Permission")',
                type: 'get',
                data: { pageHis: currPageHis, perPageHis: perPageHis, sortAscHis: sortAscHis },
                success: function (result) {
                    $(".panel-body").html(result);
                    if (currPageHis == 1) {
                        $('#prevHis').addClass('disabled');
                    }
                }
            });
        }

        function Approval() {
            $.ajax({
                url: '@Url.Action("ApprovalList", "Permission")',
                type: 'get',
                data: { pageApp: currPageApp, perPageApp: perPageApp, sortAscApp: sortAscApp },
                success: function (result) {
                    $(".panel-body").html(result);
                    if (currPageApp == 1) {
                        $('#prevApp').addClass('disabled');
                    }
                }
            });
        }

        function searchHis() {
            datefrom = $("#frdate").val();
            dateto = $("#todate").val();
            if (datefrom == "" || dateto == "" || datefrom > dateto) {
                alert(`Mohon isi tanggal pencarian dengan benar!`)
            } else {
               $.ajax({
                    url: '@Url.Action("SearchHis","Permission")',
                    type: 'get',
                    data: { datefrom: datefrom, dateto: dateto },
                    success: function (result) {
                        $(".panel-body").html(result);
                        $('#prevHis').addClass('disabled');
                        $('#nextHis').addClass('disabled');
                    }
                });
            }
        }

        function searchApp() {
            datefrom = $("#frdate").val();
            dateto = $("#todate").val();
            if (datefrom == "" || dateto == "" || datefrom > dateto) {
                alert(`Mohon isi tanggal pencarian dengan benar!`)
            } else {
                $.ajax({
                    url: '@Url.Action("SearchApp","Permission")',
                    type: 'get',
                    data: { datefrom: datefrom, dateto: dateto },
                    success: function (result) {
                        $(".panel-body").html(result);
                        $('#prevApp').addClass('disabled');
                        $('#nextApp').addClass('disabled');
                    }
                });
            }
        }
            /*var fromdate = new Date($("#datefrom").val());
            var todate = new Date($("#dateto").val());
            console.log(fromdate.getTime());
            console.log(todate.getTime());

            if (datefrom == "" || dateto == "" || fromdate.getTime() > todate.getTime()) {
                $("#data").attr("style", "margin-top: 40px;text-align: center;margin-right: 10px;margin-bottom:200px;font-size: large; font-weight: 600; color: #000080;");
                $("#data").text("Silahkan isi data pencarian dengan benar !");
            } else {
                GetList();
            }*/

        $("#btn-create").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Permission")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal1").modal("show");
                }
            });
        })

        function DetailById(id) {
            $.ajax({
                url: '@Url.Action("Detail", "Permission")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#body-detail").html(result);
                    $("#modal2").modal("show");
                }
            });
        }
        function ApproveById(id) {
            $.ajax({
                url: '@Url.Action("Approve", "Permission")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#body-status").html(result);
                    $("#modal3").modal("show");
                }
            });
        }
        function RejectById(id) {
            $.ajax({
                url: '@Url.Action("Reject", "Permission")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#body-status").html(result);
                    $("#modal3").modal("show");
                }
            });
        }

        function sortingHis(obj) {
            sortAscHis = $(obj).attr('data-asc');
            History();
        }
        function sortingApp(obj) {
            sortAscApp = $(obj).attr('data-asc');
            Approval();
        }

        function rowPageHis(obj) {
            perPageHis = $(obj).attr('data-row');
            currPageHis = 1;
            History();
        }
        function rowPageApp(obj) {
            perPageApp = $(obj).attr('data-row');
            currPageApp = 1;
            Approval();
        }

        function prevHis() {
            if (currPageHis > 1) {
                currPageHis--;
                $('#nextHis').removeClass('disabled');
            }
            History(currPageHis, perPageHis);
        }

        function nextHis() {
            if (currPageHis < maxPageHis) {
                currPageHis++;
                $('#prevHis').removeClass('disabled');
            }
            History(currPageHis, perPageHis);
        }

        function prevApp() {
            if (currPageApp > 1) {
                currPageApp--;
                $('#nextApp').removeClass('disabled');
            }
            Approval(currPageApp, perPageApp);
        }

        function nextApp() {
            if (currPageApp < maxPageApp) {
                currPageApp++;
                $('#prevApp').removeClass('disabled');
            }
            Approval(currPageApp, perPageApp);
        }

    </script>
}