﻿@model WFHViewModel.ResourceProView

@using (Html.BeginForm("Create", "ResourceProject", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Client *</label> <br />
                        <div class="col-md-12 col-md-offset-1">
                            @Html.DropDownListFor(model => model.client_id, (IEnumerable<SelectListItem>)ViewBag.ClientList, "-- Pilih Client --", new { @class = "form-control", style = "max-width: 313px" })
                            @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Department</label> <br />
                        <div class="col-md-12 col-md-offset-1">
                            @Html.EditorFor(model => model.department, new { htmlAttributes = new { @class = "form-control", style = "max-width: 313px" } })
                            @Html.ValidationMessageFor(model => model.department, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Project Name *</label> <br />
                        <div class="col-md-12 col-md-offset-1">
                            @Html.EditorFor(model => model.project_name, new { htmlAttributes = new { @class = "form-control", style = "max-width: 313px" } })
                            @Html.ValidationMessageFor(model => model.project_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Project Role *</label> <br />
                        <div class="col-md-12 col-md-offset-1">
                            @Html.EditorFor(model => model.project_role, new { htmlAttributes = new { @class = "form-control", style = "max-width: 313px" } })
                            @Html.ValidationMessageFor(model => model.project_role, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-6" style="font-weight: bold">Location</label> <br />
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control", style = "max-width: 313px" } })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6" style="font-weight: bold">User/PIC Name</label> <br />
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.pic_name, new { htmlAttributes = new { @class = "form-control", style = "max-width: 313px" } })
                        @Html.ValidationMessageFor(model => model.pic_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class=" col-md-6" style="font-weight: bold">Start *</label>
                            <div class="row">
                                <div class="col-md-5 col-xs-offset-2 input-group date">
                                    @Html.EditorFor(model => model.startpro, new { htmlAttributes = new { @class = "form-control", style = "width:110px; border-right: none", placeholder = "", onfocus = "(this.type='date')", onblur = "(this.type='text')" } })
                                    <span class="input-group-addon btn" style="border-left:none; background: white">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.startpro, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-offset-1">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-6" style="font-weight: bold">End *</label>
                            </div>
                            <div class="col-md-5 input-group date">
                                @Html.EditorFor(model => model.endpro, new { htmlAttributes = new { @class = "form-control", style = "width:110px; border-right: none", placeholder = "", onfocus = "(this.type='date')", onblur = "(this.type='text')" } })
                                <span class="input-group-addon btn" style="border-left:none; background: white">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.ValidationMessageFor(model => model.endpro, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6" style="font-weight: bold">Project Phase *</label> <br />
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.project_phase, new { htmlAttributes = new { @class = "form-control", style = "max-width: 313px" } })
                        @Html.ValidationMessageFor(model => model.project_phase, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <div class="row">
                                <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Project Description *</label>
                            </div>
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    @Html.TextAreaFor(model => model.project_description, new { @class = "form-control", @rows = 3, style = "max-width: 650px" })
                                    @Html.ValidationMessageFor(model => model.project_description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <div class="row">
                                <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Project Technology *</label>
                            </div>
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    @Html.TextAreaFor(model => model.project_technology, new { @class = "form-control", @rows = 3, style = "max-width: 650px" })
                                    @Html.ValidationMessageFor(model => model.project_technology, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <div class="row">
                                <label class="col-md-offset-1 col-md-6" style="font-weight: bold">Main Task *</label>
                            </div>
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    @Html.TextAreaFor(model => model.main_task, new { @class = "form-control", @rows = 3, style = "max-width: 650px" })
                                    @Html.ValidationMessageFor(model => model.main_task, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-8">
                <div class="form-actions btn-group btn-group-md">
                    <input type="reset" value="Reset" data-dismiss="modal" class="btn btn-warning" style="width: 97px" />
                    <input type="submit" value="Save" class="btn btn-primary" style="width: 97px" />
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert(`Berhasil disimpan`);
                    $("#modal1").modal("hide");
                    GetList()
                } else {
                    alert(`Mohon isi Resource Project Form sesuai format`);
                }
            }
        })
        return false;
    })
</script>

