﻿@model WFHViewModel.ResourceProView

    <div>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <span class="glyphicon glyphicon-trash" style="font-size: 60px; color: darkred"></span>
                </div>
                <div class="col-md-7 text-center" style="font-size: 15px; left: 30px">
                    Anda yakin ingin menghapus project di <br />
                    <b>@Html.DisplayFor(model => model.clientname) ?</b>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("Delete", "ResourceProject", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            <div class="text-right">
                <div class="form-actions btn-group btn-group-md">
                    <input type="button" value="Tidak" data-dismiss="modal" class="btn btn-warning" style="width: 100px" />
                    <input type="submit" value="Ya" class="btn btn-danger" style="width: 100px" />
                </div>
            </div>
        }
    </div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert('Berhasil dihapus');
                    $("#modal3").modal("hide");
                    GetList()
                } else {
                    alert('Error: ' + result.message);
                }
            }
        })
        return false;
    })
</script>
