﻿@model WFHViewModel.ResourceProView
@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.id)

<div class="form-horizontal">
    <div class="text-center">
        <button type="button" class="btn" style="background: linear-gradient(lightgrey, darkgrey); color: black; width: 650px" data-toggle="collapse" data-target="#proinfo" aria-expanded="false" aria-controls="proinfo">
            <b class="col-md-4 text-left">PROJECT INFORMATION</b>
            <div class="col-md-offset-11"><span class="caret"></span></div>
        </button>
    </div>
    <div class="collapse" id="proinfo" style="border-color:grey">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-6" style="left: 27px">
                    <br />
                    <div class="row">
                        <p class="col-md-5" style="font-size:12px">Client *</p>
                        <div class="col-md-10" style="font-weight: bold">
                            @Html.DisplayFor(model => model.clientname)
                        </div>
                    </div> <br />
                    <div class="row">
                        <p class="col-md-4" style="font-size:12px">Department</p>
                        <div class="col-md-10" style="font-weight: bold">
                            @Html.DisplayFor(model => model.department)
                        </div>
                    </div> <br />
                    <div class="row">
                        <p class="col-md-5" style="font-size: 12px">Project Name</p>
                        <div class="col-md-10" style="font-weight: bold">
                            @Html.DisplayFor(model => model.project_name)
                        </div>
                    </div> <br />
                    <div class="row">
                        <p class="col-md-5" style="font-size:12px">Project Role *</p>
                        <div class="col-md-10" style="font-weight: bold">
                            @Html.DisplayFor(model => model.project_role)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <br />
                    <div class="row">
                        <p class="col-md-4" style="font-size:12px">Location</p>
                        <div class="col-md-10" style="font-weight: bold">
                            @Html.DisplayFor(model => model.location)
                        </div>
                    </div> <br />
                    <div class="row">
                        <p class="col-md-6" style="font-size:12px">User/PIC Name</p>
                        <div class="col-md-10" style="font-weight: bold">
                            @Html.DisplayFor(model => model.pic_name)
                        </div>
                    </div> <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <p class="col-md-4" style="font-size:12px">Start</p>
                                <div class="col-md-12" style="font-weight: bold">
                                    @Html.DisplayFor(model => model.startnewdate)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <p class="col-md-4" style="font-size:12px">End</p>
                                <div class="col-md-12" style="font-weight: bold">
                                    @Html.DisplayFor(model => model.endnewdate)
                                </div>
                            </div>
                        </div>
                    </div> <br />
                    <div class="row">
                        <p class="col-md-5" style="font-size:12px">Project Phase *</p>
                        <div class="col-md-10" style="font-weight: bold">
                            @Html.DisplayFor(model => model.project_phase)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br />
    <div class="text-center">
        <button type="button" class="btn" style="background: linear-gradient(lightgrey, darkgrey); color: black; width:650px" data-toggle="collapse" data-target="#prodesc" aria-expanded="false" aria-controls="prodesc">
            <b class="col-md-4 text-left">PROJECT DESCRIPTION</b>
            <div class="col-md-offset-11"><span class="caret"></span></div>
        </button>
    </div>
    <div class="collapse" id="prodesc">
        <div class="card card-body" style="border-color:grey"> <br />
            <div class="row">
                <div class="col-md-12" style="margin-left: 27px; margin-right: 32px">
                    @Html.DisplayFor(model => model.project_description)
                </div>
            </div>
        </div> 
    </div> <br />
    <div class="text-center">
        <button type="button" class="btn" style="background: linear-gradient(lightgrey, darkgrey); color: black; width:650px" data-toggle="collapse" data-target="#protech" aria-expanded="false" aria-controls="protech">
            <b class="col-md-4 text-left">PROJECT TECHNOLOGY</b>
            <div class="col-md-offset-11"><span class="caret"></span></div>
        </button>
    </div>
    <div class="collapse" id="protech">
        <div class="card card-body" style="border-color:grey"> <br />
            <div class="row">
                <div class="col-md-12" style="margin-left: 27px; margin-right: 32px">
                    @Html.DisplayFor(model => model.project_technology)
                </div>
            </div>
        </div>
    </div> <br />
    <div class="text-center">
        <button type="button" class="btn" style="background: linear-gradient(lightgrey, darkgrey); color: black; width:650px" data-toggle="collapse" data-target="#mainTask" aria-expanded="false" aria-controls="mainTask">
            <b class="col-md-4 text-left">MAIN TASK</b>
            <div class="col-md-offset-11"><span class="caret"></span></div>
        </button>
    </div>
    <div class="collapse" id="mainTask">
        <div class="card card-body" style="border-color:grey"> <br />
            <div class="row">
                <div class="col-md-12" style="margin-left: 27px; margin-right: 32px">
                    @Html.DisplayFor(model => model.main_task)
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-2 col-md-offset-9">
        <input type="button" value="Close" data-dismiss="modal" class="btn btn-warning" style="width: 138px" />
    </div>  <br /> <br />
</div>
