﻿@model IEnumerable<WFHViewModel.ResourceProView>

Page : @ViewBag.currPage @ViewBag.PageOf of @ViewBag.PageCount @ViewBag.PageOf
<table class="table">
    <tr>
        <th style="width:30%">CLIENT</th>
        <th style="width:30%">START</th>
        <th style="width:30%">END</th>
        <th style="width:10%">#</th>
    </tr>

@foreach (var item in Model) {
    <tr>     
        <td>
            @Html.DisplayFor(modelItem => item.clientname)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.startnewdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endnewdate)
        </td>
        <td>
            <div class="input-group">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        More
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-id="@item.id" onclick="DetailById(@item.id)">Detail</a></li>
                        <li><a href="#" data-id="@item.id" onclick="GetById(@item.id)">Ubah</a></li>
                        <li><a href="#" data-id="@item.id" onclick="DeleteById(@item.id)">Hapus</a></li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
}

</table> 

<script type="text/javascript">
    $(document).ready(function () {
        maxPage = @ViewBag.PageCount;
        if (currPage == maxPage) {
            $('#btn-next').addClass('disabled');
        } else {
            $('#btn-next').removeClass('disabled');
        };
    })
</script>