﻿
@{
    ViewBag.Title = "Resource Project";
}

<h3>@ViewBag.Title</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-2">
                <input type="text" id="txt-search" class="form-control" style="width:180px" placeholder="Client" />
            </div>
            <div class="col-md-2">
                <div class="input-group date">
                    <input type="text" id="frdate" class="form-control" style="width:140px; border-right: none" placeholder="From" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <span class="input-group-addon btn" style="border-left:none; background: white">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group date">
                    <input type="text" id="todate" class="form-control" style="width:140px; border-right: none" placeholder="To" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <span class="input-group-addon btn" style="border-left:none; background: white">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" id="btn-search" class="btn btn-md btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-sm-1">
                <div class="input-group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true">
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Order</li>
                            <li><a href="#" onclick="sorting(this)" data-asc="true">Ascending</a></li>
                            <li><a href="#" onclick="sorting(this)" data-asc="false">Descending</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="input-group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-md dropdown-toggle btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Row Per Page</li>
                            <li><a href="#" onclick="rowPage(this)" data-row="1">10</a></li>
                            <li><a href="#" onclick="rowPage(this)" data-row="2">20</a></li>
                            <li><a href="#" onclick="rowPage(this)" data-row="3">30</a></li>
                            <li><a href="#" onclick="rowPage(this)" data-row="4">40</a></li>
                            <li><a href="#" onclick="rowPage(this)" data-row="5">50</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button type="button" id="btn-create" class="btn btn-md btn-primary btn-circle">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        Loading...
    </div>
    <div class="panel-footer">
        <div class="col-md-offset-5 text-right">
            <button type="button" class="btn btn-primary" id="btn-prev">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous
            </button>
            <button type="button" class="btn btn-primary" id="btn-next">
                Next
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 720px">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white">Resource Project</h3>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 720px">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white">Detail</h3>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal3" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header" style="background: darkred">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white">Hapus ?</h3>
            </div>
            <div class="modal-body" id="body-delete">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        var currPage = 1;
        var maxPage = 1;
        var search = "";
        var sortAsc = true;
        var perPage = 10;
        var datefrom;
        var dateto;

        $(document).ready(function () {
            GetList()
        })

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "ResourceProject")',
                type: 'get',
                data: { page: currPage, search: search, sortAsc: sortAsc, perPage: perPage },
                success: function (result) {
                    $(".panel-body").html(result);
                    if (currPage == 1) {
                        $('#btn-prev').addClass('disabled');
                    };
                }
            });
        }

        $("#btn-search").click(function () {
            search = $("#txt-search").val();
            datefrom = $("#frdate").val();
            dateto = $("#todate").val();
            if (search != "" && datefrom == "" && dateto == "") {
                GetList();
            }
            else if (search == "" && datefrom != "" && dateto != "" && datefrom < dateto) {
                $.ajax({
                    url: '@Url.Action("SearchDate","ResourceProject")',
                    type: 'get',
                    data: { datefrom: datefrom, dateto: dateto },
                    success: function (result) {
                        $(".panel-body").html(result);
                        $('#btn-prev').addClass('disabled');
                        $('#btn-next').addClass('disabled');
                    }
                });
            }
            else if (datefrom != "" && dateto != "" && datefrom < dateto && search != "") {
                $.ajax({
                    url: '@Url.Action("SearchBoth","ResourceProject")',
                    type: 'get',
                    data: { datefrom: datefrom, dateto: dateto, search: search},
                    success: function (result) {
                        $(".panel-body").html(result);
                        $('#btn-prev').addClass('disabled');
                        $('#btn-next').addClass('disabled');
                    }
                });
            }
        })

        $("#btn-create").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "ResourceProject")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Resource Project Form");
                    $("#modal1").modal("show");
                }
            });
        })

        function DetailById(id) {
            $.ajax({
                url: '@Url.Action("Detail", "ResourceProject")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Detail");
                    $("#modal1").modal("show");
                }
            });
        }

        function GetById(id) {
            $.ajax({
                url: '@Url.Action("Edit", "ResourceProject")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Resource Project Form");
                    $("#modal1").modal("show");
                }
            });
        }

        function DeleteById(id) {
            $.ajax({
                url: '@Url.Action("Delete", "ResourceProject")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#body-delete").html(result);
                    $(".modal-title").html("Hapus ?");
                    $("#modal3").modal("show");
                }
            });
        }

        function sorting(obj) {
            sortAsc = $(obj).attr('data-asc');
            GetList();
        }

        function rowPage(obj) {
            perPage = $(obj).attr('data-row');
            currPage = 1;
            GetList();
        }

        $("#btn-prev").click(function () {
            if (currPage > 1) {
                currPage--;
                $('#btn-next').removeClass('disabled');
            }
            GetList(currPage, perPage);
        });

        $("#btn-next").click(function () {
            if (currPage < maxPage) {
                currPage++;
                $('#btn-prev').removeClass('disabled');
            }
            GetList(currPage, perPage);
        });
    </script>
}

